

#hero {
  color: white;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
  url('./Shed-ivy_background_reduced-size.jpg');
  background-size: cover;
  background-position: center;
}


#delete-review-button {
  background: none;
  border: none;
  padding: 0;
  font-family: arial, sans-serif;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}


/* NB: Extra small devices (portrait phones, less than 576px) have no media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */

/* @media (min-width: 576px) {
  #custom-card-columns {
      column-count: 1;
  }
  #custom-card-columns-community {
    column-count: 3;
}
} */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
  #custom-card-columns {
      column-count: 4;
  }
  #custom-card-columns-community {
    column-count: 3;
}
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
  #custom-card-columns {
      column-count: 4;
  }
  #custom-card-columns-community {
    column-count: 4;
}
} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
  #custom-card-columns {
      column-count: 4;
  }
  #custom-card-columns-community {
    column-count: 4;
}
} */